#primary-nav {
    @include transition( height, 0.2s, ease-in-out );

    height: 55px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 20;

    &.active { height: auto; }

    & > .nav { padding: 0 !important; }

    h1 { 
          font-size: 2.8em;
          position: absolute;
          top: 8px;
          bottom: 0;
          right: 0;
          left: 0;
          margin: auto;
          width: 130px;
    }

    ul {
        overflow: hidden;

        & > li {
            opacity: 0;
            top: -20px;
        }
    }

    .container { padding: 0 !important; }

    .wrap {
        @include box-shadow(0, 2px, 5px, 0, rgba(0, 0, 0, 0.26));

        background: $white;
        height: 55px;
        left: 0;
        padding: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    .menu {
        background: none;
        border: 0;
        float: right;
        height: 55px;
        padding: 8px;
        width: 45px;

        .line {
            @include transition( all, 0.2s, ease-in-out );

            background: $bawarchi-red;
            display: block;
            height: 3px;
            margin: 4px auto;
            position: relative;
            top: 0;
            width: 17px;
        }
    }

    .lvl1 {
        clear: both;
        float: none;
        display: none;
        list-style: none;
        margin: 55px 0 0 !important;
        padding: 0;
        position: relative;

        li {
            border-top: 1px solid $bawarchi-red;
            float: none;
            overflow: hidden;
            position: relative;
        }

        a {
            padding: 12px 20px;

            &.active { background: $red; }
        }
    }

    .container {
        float: none;
        padding: 45px 10px 0;
    }

    .sub-nav {
        background: none;
        border: 0;
        color: $white;
        display: block;
        height: 48px;
        padding: 24px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 5;
    }

    .icon-arrow {
        &:before,
        &:after {
            @include transition( all, 0.2s, ease-in-out );

            background: $white;
            content: "";
            display: block;
            height: 8px;
            position: absolute;
            margin: auto;
            top: 20px;
            width: 2px;
        }

        &:before {
            @include rotate(-45deg, 1px 0px);

            left: 21px;
        }

        &:after {
            @include rotate(45deg, 1px 0px);

            right: 21px;
        }

        &.active {
            &:before {
            	@include rotate(-135deg, 1px 0px);
            }
            &:after {
            	@include rotate(135deg, 1px 0px);
            }
        }
    }

    .lvl2,
    .lvl3 {
        display: none;
        float: none;
        margin: 0;

        a { border-bottom: 0; }
    }

    .lvl2 {
        a { padding: 12px 20px 12px 40px; }
    }

    .lvl3 {
        a { padding: 12px 20px 12px 60px; }
    }
}