/* ==========================================================================
DEPENDENCIES
	--------------------------------------------------------------------------
	_color.scss
	_mixin.scss
	_common.scss


	TABLE OF CONTENT
	--------------------------------------------------------------------------
	01 Global
	02 Layout
	03 Header
	04 Main Navigation
	05 Home Page
	06 Standard
	07 Footer
	08 Components

	00 Imports
================================================== */

@import 'common/mixin';
@import 'common/vars';


/* =======================================================================
01 Global
========================================================================== */
[class^="col-"], [class*=" col-"] { margin-bottom: 0; }


/* =======================================================================
02 Layout
========================================================================== */
.desktop-only { display: block !important; }
.tablet-only { display: none !important; }
.mobile-only { display: none !important; }


/* =======================================================================
03 Header
========================================================================== */
header {
	.top-nav {
		ul { padding-right: 0; }
	}
}

.nav-container{
	height: 80px;
}

.logo{
	margin-top: 10px; 

}

#primary-nav{
	ul{
		li{
			&:before {
				content: "";
				position: absolute;
				width: 100%;
				height: 4px;
				bottom:0;
				left: 0;
				background-color: $bawarchi-red;
				visibility: hidden;
				-webkit-transform: scaleX(0);
				transform: scaleX(0);

				@include transition( all, 0.2s, ease-in-out );
			}

			&:hover:before {
				visibility: visible;
				-webkit-transform: scaleX(0.7);
				transform: scaleX(0.7);
			}  

			&.active{
				&::before {
					visibility: visible;
					-webkit-transform: scaleX(0.7);
					transform: scaleX(0.7);
				}  

				a{color: $bawarchi-red;}
			}

			font-size: 1.4em;
			position: relative;
			min-height: 42px;
		}
	}

	h1{
		margin: 0;
		font-size: 2.8em;
		width: 180px;
	}

	.teaser{
		font-size: 1.4em;
		margin: 0;
	}
}

.lvl1{
	margin-top: 19px;
}


/* =======================================================================
04 Main Navigation
========================================================================== */



/* =======================================================================
05 Homepage
========================================================================== */



/* =======================================================================
06 Standard
========================================================================== */
.container-fluid {
    padding: 20px 0;
}


/* =======================================================================
07 Footer
========================================================================== */
footer{
	padding: 40px 0 0; 
}

.f-block{
	float: left;
	width: 20%; 
	box-sizing: border-box;
  	padding-right: 30px;

  	h3{
  		margin-top: 0; 
  		font-size: 18px;
  	}

  	p{
  		font-size: 1.4em;
  	}
}

.upper-block{

	padding-bottom: 40px;
	border-bottom: 1px solid #dedee0;
}

.lower-block{
	.icon{
		@include transition( all, 0.2s, ease-in-out );

		&:hover{
			color: #484848;
			background-color: #ffffff;
			border: 1px solid #484848;
		}
	}

	padding: 40px 0;
}

.copyright{
	p{
		font-size: 1.4em;
	}
}

.social-media{
	li{
		display: inline-block;
		margin-left: 10px;
	}
}


/* =======================================================================
08 Components
========================================================================== */
@import 'components/mobileMenu/desktop';


