/* ==========================================================================
DEPENDENCIES
	--------------------------------------------------------------------------
	_color.scss
	_mixin.scss
	_common.scss


	TABLE OF CONTENT
	--------------------------------------------------------------------------
	01 Global
	02 Layout
	03 Header
	04 Main Navigation
	05 Home Page
	06 Standard
	07 Footer
	08 Components

	00 Imports
================================================== */

@import 'common/mixin';
@import 'common/vars';


/* =======================================================================
01 Global
========================================================================== */
[class^="col-"], [class*=" col-"] { margin-bottom: 0; }


/* =======================================================================
02 Layout
========================================================================== */
.desktop-only { display: block !important; }
.tablet-only { display: none !important; }
.mobile-only { display: none !important; }


/* =======================================================================
03 Header
========================================================================== */
header {
	.top-nav {
		ul { padding-right: 0; }
	}
}

#primary-nav{
	ul{
		li{
			&:before {
				content: "";
				position: absolute;
				width: 100%;
				height: 4px;
				bottom:0;
				left: 0;
				background-color: $bawarchi-red;
				visibility: hidden;
				-webkit-transform: scaleX(0);
				transform: scaleX(0);

				@include transition( all, 0.2s, ease-in-out );
			}

			&:hover:before {
				visibility: visible;
				-webkit-transform: scaleX(0.7);
				transform: scaleX(0.7);
			}  

			&.active{
				&::before {
					visibility: visible;
					-webkit-transform: scaleX(0.7);
					transform: scaleX(0.7);
				}  

				a{color: $bawarchi-red;}
			}

			font-size: 1.4em;
			position: relative;
			min-height: 42px;
		}
	}

	
}

/* =======================================================================
04 Main Navigation
========================================================================== */



/* =======================================================================
05 Homepage
========================================================================== */
.categories{width: 92%;}

.content{

        h3{font-size: 2em;}

        .cat-count{font-size: 17px;}

        width: 68%;
}    


.cat-tab{
	img{
		width: 32%;
		max-width: 125px;
	} 

	height: 160px; 
}




/* =======================================================================
06 Standard
========================================================================== */
.container-fluid {
    padding: 20px 0;
}

.main-tabs{
	.c-tab{
		&.active{
			&:hover{opacity: 1;}

			&:before{
				width: 0;
				height: 0;
				top: -1px;			
				border-right: 20px solid #bd292d;

			}

			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		&:hover{
			opacity: 0.8;
		}

		@include transition( all, 0.2s, ease-in-out );

		&:before{
			@include transition( all, 0.2s, ease-in-out );

			position: absolute;
			top: 0px;
			left: -21px;
			content: '';
			display: block;	
			border-top: 22px solid transparent;
			border-bottom: 22px solid transparent;
			border-right: 20px solid transparent;
		}	

		width: 100%;
		position: relative;
		font-size: 14px;
		text-transform: uppercase;
		text-align: center;
		height: 44px;
		border: 1px solid #bd292d;
		border-radius: 5px;
		margin-bottom: 15px;
	}

	float: left;
	width: 20%;
}

.list-contact{
	width: 25%;
}

.main-text{
	width: 55%;
}

.list-container{
	margin-right: 40px;
	width: 59%;
}

.filter{width: 17%;}

.main-tabs{display: block;}

.search-btn{

	&:before{
		@include transition( all, 0.3s, ease-in-out );

		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 0px;
		margin: auto; 
		background-color: #8C0E12;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		opacity: 0.5;
	}

	&:hover{
		&:before{width: 100%;}
	}

	position: relative;
}


/* =======================================================================
07 Footer
========================================================================== */



/* =======================================================================
08 Components
========================================================================== */
@import 'components/mobileMenu/desktop';

