/* ==========================================================================
DEPENDENCIES
	--------------------------------------------------------------------------
	_color.scss
	_mixin.scss
	_common.scss


	TABLE OF CONTENT
	--------------------------------------------------------------------------
	01 Global
	02 Layout
	03 Header
	04 Main Navigation
	05 Home Page
	06 Standard
	07 Footer
	08 Components

	00 Imports
================================================== */

@import 'common/mixin';
@import 'common/vars';


/* =======================================================================
01 Global
========================================================================== */



/* =======================================================================
02 Layout
========================================================================== */



/* =======================================================================
03 Header
========================================================================== */
#primary-nav{
	.logo{
		img{
			width: 90%;
			margin: 0 0px 0px 5px;
		}
	}

	h1{
		padding: 0;
		margin-top: 3px;
		margin-left: 10px;
	}

	.teaser{
		font-size: 1.4em;
		position: absolute;
		width: 160px;
		text-align: center;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;

	}
}

.login-container{
	display: none;
}

/* =======================================================================
04 Main Navigation
========================================================================== */



/* =======================================================================
05 Homepage
========================================================================== */
.banner-container{
	height: 420px;
}

.search-form{
	input, .search-btn{
		width: 100%;
		margin-bottom: 5px; 
	}

	top:110px;
	width: 90%;		
}


/* =======================================================================
06 Standard
========================================================================== */
.standard-banner { height: 150px; }


/* =======================================================================
07 Footer
========================================================================== */
.f-block{
	h3{
		font-size: 1.4em;
		text-align: center; 
		position: relative;
	}

	p{display: none;}
}

.contact{
	.icon{display: none;}

	padding: 0;
}

.copyright{
	text-align: center;
	margin:0;
	width: 100%;
}

.lower-block{
	padding: 20px 0;
}

.social-media{
	li{
		display: inline-block;
		margin: 0 5px;
	}	

	margin-top: 20px;
	padding: 0;
	width: 100%;
   	text-align: center;
}



/* =======================================================================
08 Components
========================================================================== */
@import 'components/mobileMenu/mobile';


