/* ==========================================================================
DEPENDENCIES
	--------------------------------------------------------------------------
	_color.scss
	_mixin.scss
	_common.scss
	_customBootstrap.scss

	TABLE OF CONTENT
	--------------------------------------------------------------------------
	01 Global
	02 Layout
	03 Header
	04 Main Navigation
	05 Home Page
	06 Standard
	07 Footer
	08 Components

00 Imports
================================================== */
@import 'common/mixin';
@import 'common/vars';


/* =======================================================================
01 Global
========================================================================== */
.desktop-only { display: none !important; }
.tablet-only { display: block !important; }
.mobile-only { display: none !important; }

@for $i from 1 through $colNum {
    .col-#{$i} { width: percentage($i / $colNum); }
}

[class^="col-"],
[class*=" col-"] { float: left; }

img {
	margin: 0 0 10px;
	width: auto;
}

#primary-nav{
	h1{
		margin: 0;
		font-size: 2.8em;
		width: 180px;
	}

	.teaser{
		font-size: 1.4em;
		margin: 0;
	}
}

.logo{
	margin-top: 10px; 
}

/* =======================================================================
02 Layout
========================================================================== */



/* =======================================================================
03 Header
========================================================================== */



/* =======================================================================
04 Main Navigation
========================================================================== */



/* =======================================================================
05 Homepage
========================================================================== */
.banner-container{
	height: 640px;
}

.search-form{

	 input{
	 	&:nth-of-type(1){
	 		border-right: 1px solid #e4e4e4;
	 		border-top-left-radius: 5px;
        	border-bottom-left-radius: 5px;
	 	}

	 	width: 320px;
	 }

	 & > p{font-size: 3em;}

	height: 160px;
	top: 240px;

}


.search-btn{
	width: 80px;
	border-top-right-radius: 5px;
  	border-bottom-right-radius: 5px;
}

.field-container{
	max-width: 720px;
	margin:auto;
}

.lvl1{
	margin-top: 15px;
}

.nav-container{
	height: 72px;
}

.cat-tab{
	img{
		width: 23%;		
		float: left;
		max-width: 75px;
	}  

	text-align: left;
    width: 46%;
    margin: 2%;
    height: 120px;
    padding:20px;
}

.content{

        h3{font-size: 1.8em;}

        .cat-count{font-size: 15px;}

        width: 77%;
        padding-left: 17px;
}        

.custom-block{
    margin: 55px 0 85px;   
}

.btn-large{
    font-size: 1.7em;
} 

.ul{
	&:after{
		content: "";
		display: block;
		width: 100%;
		height: 5px;
		position: absolute;
		background-color: $bawarchi-red;
		bottom: -9px;
		left: 0;
	}

	position: relative;
}


/* =======================================================================
06 Standard
========================================================================== */



/* =======================================================================
07 Footer
========================================================================== */
footer{
	padding: 40px 0 0; 
}

.f-block{
	float: left;
	width: 20%; 
	box-sizing: border-box;
  	padding-right: 30px;

  	h3{
  		margin-top: 0; 
  		font-size: 18px;
  	}

  	p{
  		font-size: 1.4em;
  	}
}

.upper-block{

	padding-bottom: 40px;
	border-bottom: 1px solid #dedee0;
}

.lower-block{
	.icon{
		@include transition( all, 0.2s, ease-in-out );

		&:hover{
			color: #484848;
			background-color: #ffffff;
			border: 1px solid #484848;
		}
	}

	padding: 40px 0;
}

.copyright{
	p{
		font-size: 1.4em;
	}
}

.social-media{
	li{
		display: inline-block;
		margin-left: 10px;
	}
}


/* =======================================================================
08 Components
========================================================================== */
@import 'components/mobileMenu/tablet';


