/* ==========================================================================
DEPENDENCIES
	--------------------------------------------------------------------------
	_color.scss
	_mixin.scss
	_common.scss
	_customBootstrap.scss

	TABLE OF CONTENT
	--------------------------------------------------------------------------
	01 Global
	02 Layout
	03 Header
	04 Main Navigation
	05 Home Page
	06 Standard
	07 Footer
	08 Components

00 Imports
================================================== */
@import 'common/mixin';
@import 'common/vars';


/* =======================================================================
01 Global
========================================================================== */
.desktop-only { display: none !important; }
.tablet-only { display: block !important; }
.mobile-only { display: none !important; }

@for $i from 1 through $colNum {
    .col-#{$i} { width: percentage($i / $colNum); }
}

[class^="col-"],
[class*=" col-"] { float: left; }

img {
	margin: 0 0 10px;
	width: auto;
}

/* =======================================================================
02 Layout
========================================================================== */



/* =======================================================================
03 Header
========================================================================== */



/* =======================================================================
04 Main Navigation
========================================================================== */



/* =======================================================================
05 Homepage
========================================================================== */



/* =======================================================================
06 Standard
========================================================================== */



/* =======================================================================
07 Footer
========================================================================== */



/* =======================================================================
08 Components
========================================================================== */
@import 'components/mobileMenu/tablet';


