/* ==========================================================================
DEPENDENCIES
    --------------------------------------------------------------------------
    _color.scss
    _mixin.scss
    _common.scss

    TABLE OF CONTENT
    --------------------------------------------------------------------------
    01 Global
    02 Layout
    03 Header
    04 Main Navigation
    05 Home Page
    06 Standard
    07 Footer
    08 Components
    09 Main Page(Dynamic Cook List)
00 Imports
================================================== */

@import 'common/color';
@import 'common/mixin';
@import 'common/vars';
@import 'common/defaults';
@import 'common/fonts';


/* =======================================================================
01 Global
========================================================================== */
*, *:before, *:after { box-sizing: inherit; }
html { box-sizing: border-box; }
body {
    font: 62.5%/1.5 'Titillium', sans-serif;
    margin: 0 !important;
}
/**
 * Headings
 */

h1, h2, h3, h4, h5, h6,
address {
    word-break: break-word;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 10px;
}

h1 { font-size: 3em; }
h2 { font-size: 2.65em; }
h3 { font-size: 2.3em; }
h4 { font-size: 2em; }
h5 {
    font-size: 1.8em;
    font-style: italic;
}

h6 {
    font-size: 1.6em;
    font-style: italic;
}

ol, ul {
    margin: auto;
    padding: inherit;

    p { font-size: 1em; }
}

dl { font-size: $default-font-size; }

menu, ol, ul {
    margin-bottom: 20px;
    padding: 0 0 0 40px;

    li {
        font-size: $default-font-size;

        ul {
            li { font-size: inherit; }
        }

        a { font-size: inherit; }

        code, kbd, pre, samp { font-size: inherit; }
    }
}

table {
    background-color: transparent;
    border: 1px solid $grey;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;

    tr:nth-child(even) { background: lighten( $grey, 25%); }

    th, td {
        padding: 5px 10px;

        a { font-size: inherit; }
    }

    th {
        background: darken( $grey, 10% );
        color: $white;
        font-size: 1.8em;
        text-align: left;
    }

    td { font-size: 1.3em; }
}

code, kbd, pre, samp {
    font-size: $default-font-size;

    code, kbd, pre, samp { font-size: 1em; }
}

cite, p {
    a { font-size: inherit; }
}

img { margin-bottom: 15px; }

p {
    word-break: break-word;
    font-size: $default-font-size;
    margin: 0 0 1em;

    code, kbd, pre, samp { font-size: 1em; }
}

a {
    @include transition( all, 0.2s, ease-in-out );

    font-size: $default-font-size;
    margin-bottom: 10px;
    text-decoration: none;
}

button {
    &:focus { outline: 0; }
}

img {
    display: block;
    height: auto;
    margin: 0 auto 10px;
    max-width: 100%;
    width: 100%;
}

.grid {
    [class^="col-"], [class*=" col-"] {
        background: lighten( $grey, 25% );
        border: 1px solid $grey;
        font-size: 1em;
        padding: 10px;
        text-align: center;
    }
}

[class^="col-"], [class*=" col-"] {
    width: 100%;

    div { font-size: inherit; }
}

.nested-grid {
    @extend %clearfix;

    margin: 0 -10px;
}

.intro {
    font-weight: bold;

    p { font-size: 1.6em; }
}

.hide, .desktop-only, .tablet-only { display: none !important; }
.mobile-only { display: block !important; }
.pull-left {
    float: left;
    margin-right: 15px;
}
.pull-right {
    float: right;
    margin-left: 15px;
}
.no-border { border-bottom: 0 !important; border-top: 0 !important; }

.vh {
    border: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0;
}

.img-responsive {
    display: block;
    height: auto;
    margin: auto;
    max-width: 100%;
    width: 100%;
}


::-ms-clear { height: 22px; width: 22px; }
::-webkit-input-placeholder,
 :-moz-placeholder,
::-moz-placeholder,
 :-ms-input-placeholder { color: #a9a9a9; }

%clearfix { @include clearfix(); }
%container {
    @extend .clearfix;

    height: 100%;
    margin: auto;
    padding: 20px $gutter;
    position: relative;
    max-width: 960px;
}

svg.ripple {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;

    circle {
        fill: $white;
        opacity: 0;
    }
}

/* =======================================================================
02 Layout
========================================================================== */

/*Added by Mayur*/

/*
 *  till here*/

.backstretch {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.breadcrumbs {
    margin-bottom: 20px;
    padding: 0 !important;

    li {
        display: inline-block;
        font-size: 1em;

        a {
            font-size: 1.4em !important;
            text-decoration: none;

            &:hover { text-decoration: underline; }
        }

        &:after {
            content: ">";
            font-size: inherit;
            margin: 0 10px;
        }

        &.last {
            color: $red;
            font-size: 1.4em;
            font-weight: bold;

            &:after { content: ""; }
        }
    }
}

.btn-print {
    display: block;
    font-size: $default-font-size;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

.table-wrapper {
    border: 1px solid $grey;
    font-size: 1em !important;
    margin: 20px 0;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;

    &.no-scrollbar {
        border: 0;
        overflow-x: visible;
        overflow-y: visible;
    }

    table { margin-bottom: 0; }

    .btn-print {
    }

    .pin-wrapper {
        background: $white;
        border: 1px solid $grey;
        font-size: 1em;
        height: 40px;
        position: absolute;
        text-align: center;
        right: 0;
        width: 40px;
    }
}


/* =======================================================================
03 Header
========================================================================== */
.fixed{
  position :fixed;
  z-index:20;
  background:white;
  width:100%;
   -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

/* =======================================================================
04 Main Navigation
========================================================================== */



/* =======================================================================
05 Homepage
========================================================================== */
.login-container{
    p{
        margin: 0;
        color: $white;
        position: relative;
    }

    .login-text{
        font-size: 1.4em;
        top: -6px;
    }

    .login-link{
        a{color: $white;}

        &:before{
            content: '';
            display: block;
            background: url(../images/logo-white.png) transparent no-repeat;
            width: 30px;
            height: 37px;
            height: 37px;
            position: absolute;
            left: -33px;
            top: -7px;
        }

        font-size: 1.6em;
        text-decoration: none;
        top:-4px;
    }

    height: 50px;
    background-color: $bawarchi-red;
}

.lvl1{
    .icon-home3{
        font-size: 1.2em;
    }
}

#primary-nav{
    h1{
        color: $bawarchi-red;
        font-weight: 700;
    }
}


.banner-container{
    .overlay{
      display: block;
      width: 100%;
      background-color: #000;
      height: 100%;
      background-color: #000;
      opacity: 0.6;
      position: absolute;
  }

    position: relative;
      
}



.search-form {
  & > p{color: $white;}

  input{
    &:nth-of-type(1){padding-left: 38px;}

    padding:15px; 
    background-color: $white;
    border: none;
    height: 50px;
    color: #727272;
    font-size: 1.5em;
    float: left;
  }  

  .red{color: $bawarchi-red;}  

  position: absolute;
  left:0;
  right: 0;
  margin: auto;
  text-align: center;
}


.search-btn{
  float: left;
  height: 50px;
  background-color: $bawarchi-red; 
  color: $white;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}



.field-container{
  @include clearfix(); 

  .icon-location{
    position: absolute;
    top: 14px;
    left: 10px;
    color: #727272;
    font-size: 2.2em;
  }

  position: relative;
}

.categories{
    @include clearfix();
        
    padding: 5px 0 35px;
    list-style: none;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.cat-tab{
    img{
        background-color: transparent;
        border-radius: 50%;
    }
    
    .content{
        @include clearfix();

        h3, h5{
            color: #484848;
            text-transform: uppercase;
            margin: 0;
            float: left;
        }

        h5{
            font-size: 1em;
            font-style: normal;
            padding-top: 12px;
            clear:  both;
        }
        .cat-count{
            float: right;
            background-color: $bawarchi-red;
            color: $white;
            padding: 7px 9px;
            position: relative;
            top: -4px;
        }

        float: left;
        padding-top:10px;

    }

    .btn-all{
        height: 40px;
        width: 75px;
        color: $bawarchi-red;
        font-size: 0.8em;
        display: block;
        position: absolute;
        right: 20px;
        bottom: -20px;    
        background-color: #f7f5f5;
        border-radius: 5px;
        border: 1px solid #d4d4d4;
        padding: 10px 10px 0;
        margin: 0; 
        text-align: center; 
    }

    
    box-sizing: border-box;
    float: left;    
    border: 1px solid #b8b8b8;
    position: relative;
}

.section-container{
    height: 100%;
    position: relative;
    padding-top: 5%;
    background-color: #bd292d
}
.custom-block{
    @include clearfix();

    h3{
        margin-top: 0;
        font-size: 3.1em;
        color: white;
        font-weight: 300;
        margin-bottom: 25px; 
    }

    text-align: center; 
}

.btn-large{
    color: $black;
    background-color: $white;
    padding: 15px 20px;
    position: relative;
    top: 25px;
    border-radius: 5px;
}




/* =======================================================================
06 Standard
========================================================================== */
.container-fluid {
    @extend %container;

    &.tab-container{height: auto;}
}

.standard-banner {
    color: $white;
    height: 180px;
}


/* =======================================================================
07 Footer
========================================================================== */
footer{
    @include clearfix();

    .container-fluid{padding:0;}

    background-color: $b-light-grey;
    font-family: "Calibri";

    p{
        margin-bottom: 0;
    }
}

.contact{
    padding-left: 21px;
}


.f-block{
    .icon{
        position: absolute;
        left: -21px;
        top: 2px;
    }

    a{
        font-family: "Calibri";
        color: #484848;
        position: relative;
        .icon{
            top: -1px;
        }
    }

    p{
        font-family: "Calibri";
        color: #8a8a8a;
        position: relative;
    }
}

.upper-block{@include clearfix();}

.lower-block{
    @include clearfix();

    .icon{
        background-color: #484848;
        padding: 7px;
        border-radius: 50%;
        color: #ffffff;
        font-size: 0.9em;
        border: 1px solid #484848;
    }

    color: #8a8a8a;
}

.social-media{
    list-style: none;
    margin-bottom: 0;
}





/* =======================================================================
08 Components
========================================================================== */
@import 'components/mobileMenu/default';


/* =======================================================================
09  Main Page(Dynamic Cook List)
 =========================================================================*/

.filter-form{
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: monospace;
}

.main-page-filter{
  position:relative;
  float:left;
}

.main-page-cook-list{
  float:left;
}
.main-page-cook-selected{
  float:left;
  position:relative;
}

.main-page-banner-container{
  .overlay{
      display: block;
      width: 100%;
      background-color: #000;
      height: 100%;
      background-color: #000;
      opacity: 0.6;
      position: absolute;
    
  }
  position:relative;
}
.search-form-main-page{
& > p{color: $white;}

  input{
    &:nth-of-type(1){padding-left: 38px;}

    padding:15px; 
    background-color: $white;
    border: none;
    height: 50px;
    color: #727272;
    font-size: 1.5em;
    float: left;
  }  

  .red{color: $bawarchi-red;}  

  position: absolute;
  left:0;
  right: 0;
  margin: auto;
  text-align: center;
  
}

.main-area-main-page{
  height: 100%;
  margin: auto;
  padding: 20px 15px;
  position: relative;
  display:inline-block; 
}

.filter-label{
  border-style: solid;
  border-color: #bd292d;
  color: #bd292d;
  font-weight: bold;
  border-radius: 10px
}

.cook-type{
  border-style: solid;
  font-size: 17px;
  text-align: center;
  border-color: #bd292d;
  color: #bd292d;
  border-radius: 5px;
  border-width: 1px;
  font-weight: bold;
  cursor:pointer;
  font-family: monospace;
}


